<tbody>
    <tr><th>Users</th>
    <td ><input type="checkbox" name="permissions.users.create" id="" :checked="role.permissions.users.create">
    <td ><input type="checkbox" name="permissions.users.read" id="" :checked="role.permissions.users.read"></td>
    <td ><input type="checkbox" name="permissions.users.update" id="" :checked="role.permissions.users.update"></td>
    <td ><input type="checkbox" name="permissions.users.delete" id="" :checked="role.permissions.users.delete"></td>
    </tr>

    <tr><th>Events</th>
    <td ><input type="checkbox" name="permissions.events.create" id="" :checked="role.permissions.events.create">
    <td ><input type="checkbox" name="permissions.events.read" id="" :checked="role.permissions.events.read"></td>
    <td ><input type="checkbox" name="permissions.events.update" id="" :checked="role.permissions.events.update"></td>
    <td ><input type="checkbox" name="permissions.events.delete" id="" :checked="role.permissions.events.delete"></td>
    </tr>
    <tr><th>Posts</th>
    <td ><input type="checkbox" name="permissions.posts.create" id="" :checked="role.permissions.posts.create">
    <td ><input type="checkbox" name="permissions.posts.read" id="" :checked="role.permissions.posts.read"></td>
    <td ><input type="checkbox" name="permissions.posts.update" id="" :checked="role.permissions.posts.update"></td>
    <td ><input type="checkbox" name="permissions.posts.delete" id="" :checked="role.permissions.posts.delete"></td>

    </tr>
    <tr><th>Roles</th>
     <td ><input type="checkbox" name="permissions.roles.create" id="" :checked="role.permissions.roles.create">
    <td ><input type="checkbox" name="permissions.roles.read" id="" :checked="role.permissions.roles.read"></td>
    <td ><input type="checkbox" name="permissions.roles.update" id="" :checked="role.permissions.roles.update"></td>
    <td ><input type="checkbox" name="permissions.roles.delete" id="" :checked="role.permissions.roles.delete"></td>

    </tr>
</tbody>
