// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
.optionButtons{
    transform: translateY(-10px);
    font-size: 20pt;
    text-decoration: none;
    transition: 1s;
    color:gray;
}
.optionButtons:hover{
    transform: translateY(-10px);
    font-size: 20pt;
    color:blue;
    text-decoration: none;
}
.userInputInTable,.userInputInTable:focus {
    background:none;
    border:none;
    outline: none;
    color:white;
}
.userInputInTable::placeholder{
    color:white;
}
